# Creating NDVI code

In [ ]:
from datetime import datetime
import os
import pandas as pd

NDVI_df = pd.read_csv('NDVI_Results_Cleaned_28July2022.csv', encoding = 'unicode_escape')
NDVI_df.info()

In [83]:
NDVI_df.drop(['MODIS_Tile','MYD13A3_061_Line_Y_1km','MYD13A3_061_Sample_X_1km','MYD13A3_061__1_km_monthly_VI_Quality','MYD13A3_061__1_km_monthly_VI_Quality_bitmask','MYD13A3_061__1_km_monthly_VI_Quality_MODLAND','MYD13A3_061__1_km_monthly_VI_Quality_MODLAND_Description','MYD13A3_061__1_km_monthly_VI_Quality_VI_Usefulness','MYD13A3_061__1_km_monthly_VI_Quality_Aerosol_Quantity','MYD13A3_061__1_km_monthly_VI_Quality_Aerosol_Quantity_Description','MYD13A3_061__1_km_monthly_VI_Quality_Adjacent_cloud_detected','MYD13A3_061__1_km_monthly_VI_Quality_Adjacent_cloud_detected_Description','MYD13A3_061__1_km_monthly_VI_Quality_Atmosphere_BRDF_Correction','MYD13A3_061__1_km_monthly_VI_Quality_Atmosphere_BRDF_Correction_Description','MYD13A3_061__1_km_monthly_VI_Quality_Mixed_Clouds','MYD13A3_061__1_km_monthly_VI_Quality_Mixed_Clouds_Description','MYD13A3_061__1_km_monthly_VI_Quality_Land/Water_Mask','MYD13A3_061__1_km_monthly_VI_Quality_Land/Water_Mask_Description','MYD13A3_061__1_km_monthly_VI_Quality_Possible_snow/ice','MYD13A3_061__1_km_monthly_VI_Quality_Possible_shadow','MYD13A3_061__1_km_monthly_VI_Quality_Possible_shadow_Description'], axis = 1, inplace = True)
NDVI_df.head()

,Location,Latitude,Longitude,Year_Month,MYD13A3_061__1_km_monthly_EVI,MYD13A3_061__1_km_monthly_NDVI,MYD13A3_061__1_km_monthly_VI_Quality_VI_Usefulness_Description,MYD13A3_061__1_km_monthly_VI_Quality_Possible_snow/ice_Description
0,Angledool,-29.1039,147.9178,2002-07,0.1597,0.3307,Highest quality,No
1,Angledool,-29.1039,147.9178,2002-08,0.1573,0.3058,Highest quality,No
2,Angledool,-29.1039,147.9178,2002-09,0.1524,0.3011,Highest quality,No
3,Angledool,-29.1039,147.9178,2002-10,0.1503,0.2786,Highest quality,No
4,Angledool,-29.1039,147.9178,2002-11,0.1457,0.2617,Highest quality,No

In [84]:
NDVI_1km_df = NDVI_df.drop(['Latitude','Longitude','MYD13A3_061__1_km_monthly_EVI','MYD13A3_061__1_km_monthly_VI_Quality_VI_Usefulness_Description','MYD13A3_061__1_km_monthly_VI_Quality_Possible_snow/ice_Description'],axis = 1)
NDVI_1km_df

        Location Year_Month  MYD13A3_061__1_km_monthly_NDVI
0      Angledool    2002-07                          0.3307
1      Angledool    2002-08                          0.3058
2      Angledool    2002-09                          0.3011
3      Angledool    2002-10                          0.2786
4      Angledool    2002-11                          0.2617
...          ...        ...                             ...
19675  Wilcannia    2022-02                          0.2327
19676  Wilcannia    2022-03                          0.2363
19677  Wilcannia    2022-04                          0.3151
19678  Wilcannia    2022-05                          0.4106
19679  Wilcannia    2022-06                          0.4471

[19680 rows x 3 columns]

In [85]:
EVI_1km_df = NDVI_df.drop(['Latitude','Longitude','MYD13A3_061__1_km_monthly_NDVI','MYD13A3_061__1_km_monthly_VI_Quality_VI_Usefulness_Description','MYD13A3_061__1_km_monthly_VI_Quality_Possible_snow/ice_Description'],axis = 1)
EVI_1km_df

        Location Year_Month  MYD13A3_061__1_km_monthly_EVI
0      Angledool    2002-07                         0.1597
1      Angledool    2002-08                         0.1573
2      Angledool    2002-09                         0.1524
3      Angledool    2002-10                         0.1503
4      Angledool    2002-11                         0.1457
...          ...        ...                            ...
19675  Wilcannia    2022-02                         0.1478
19676  Wilcannia    2022-03                         0.1601
19677  Wilcannia    2022-04                         0.1739
19678  Wilcannia    2022-05                         0.2529
19679  Wilcannia    2022-06                         0.2602

[19680 rows x 3 columns]

In [86]:
database_name = 'Drought_Impact_Database_28July2022_'
clim_var_name = 'MYD13A3_061__1_km_monthly_EVI'
# Read in database
drought_db = pd.read_csv(database_name + '.csv', encoding = 'unicode_escape')

In [76]:
drought_db.head()

,Year,Month,Year_Month,Geographic Location,Location,Latitude,Longitude,Drought / No Drought
0,2014,March,2014-03,Cobar,Cobar,-31.4980,145.8383,1
1,2014,February,2014-02,Cobar,Cobar,-31.4980,145.8383,1
2,2014,January,2014-01,Cobar,Cobar,-31.4980,145.8383,1
3,2014,March,2014-03,Walgett,Walgett,-30.0167,148.1167,1
4,2014,February,2014-02,Walgett,Walgett,-30.0167,148.1167,1

# For EVI

In [ ]:
# Combining database and data tables according to Year,Month and Location. 
clim_var = []
row = 1

for row in drought_db.itertuples():
    time = row.Year_Month
    loca = row.Location
    #print(row) # This was to check where it was failing
    clim_var.append(float((NDVI_df.loc[(NDVI_df['Year_Month']== time) & (NDVI_df['Location']== loca)][clim_var_name].values)))

#drought_db[EVI] = clim_var    

#drought_db.to_csv('Database_Test_'+ climate_var_name + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

In [88]:
drought_db[clim_var_name] = clim_var

In [90]:
drought_db.to_csv('Database_'+ clim_var_name + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

In [89]:
drought_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 938 entries, 0 to 937
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Year                           938 non-null    int64
 1   Month                          938 non-null    object
 2   Year_Month                     938 non-null    object
 3   Geographic Location            938 non-null    object
 4   Location                       938 non-null    object
 5   Latitude                       938 non-null    float64
 6   Longitude                      938 non-null    float64
 7   Drought / No Drought           938 non-null    int64
 8   MYD13A3_061__1_km_monthly_EVI  938 non-null    float64
dtypes: float64(3), int64(2), object(4)
memory usage: 66.1+ KB

# For NDVI

In [ ]:
# Combining database and data tables according to Year,Month and Location. 
clim_var = []
row = 1

clim_var_name_2 = 'MYD13A3_061__1_km_monthly_NDVI'
#For NDVI
for row in drought_db.itertuples():
    time = row.Year_Month
    loca = row.Location
    # print(row)
    clim_var.append(float((NDVI_df.loc[(NDVI_df['Year_Month']== time) & (NDVI_df['Location']== loca)][clim_var_name_2].values)))

In [92]:
drought_db[clim_var_name_2] = clim_var

In [93]:
drought_db.to_csv('Database_'+ clim_var_name_2 + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

# For Image Quality

In [98]:
# Combining database and data tables according to Year,Month and Location. 
clim_var_3 = []
row = 1

clim_var_name_3 = 'MYD13A3_061__1_km_monthly_VI_Quality_VI_Usefulness_Description'
#For NDVI
for row in drought_db.itertuples():
    time = row.Year_Month
    loca = row.Location
    # print(row)
    clim_var_3.append(str((NDVI_df.loc[(NDVI_df['Year_Month']== time) & (NDVI_df['Location']== loca)][clim_var_name_3].values)))

In [99]:
drought_db[clim_var_name_3] = clim_var_3

In [101]:
drought_db.to_csv('Database_'+ clim_var_name_3 + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

# Now for the other variables:
Importing py files with functions made by me

In [ ]:
import Extract_AWRA_data_code_6_28July2022
import Clean_Combine_Location_data_4
import Combine_Database_Loc_data_2

In [102]:
import pandas as pd

# Location file:
locations_df = pd.read_csv('Drought_Impact_Database_28July2022_.csv', encoding = 'unicode_escape')
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 90: invalid start byte
#locations_df = locations_df.drop(labels=range(13,38),axis=0)
locations_df.columns = [c.replace(' ','_') for c in locations_df.columns]

# FOR AWRA EXTRACTION
# Creating arrays:
dlat = locations_df['Latitude'][:]
dlon = locations_df['Longitude'][:]
dloc = locations_df['Location'][:]

# FOR COMBINING AWRA EXCEL FILES: 
# Get locations list:
df_prac = pd.read_csv('Drought_Impact_Database_28July2022_.csv', encoding = 'unicode_escape')
df_prac.drop_duplicates(subset = ["Location"],inplace = True)
list_of_locations = df_prac['Location'].tolist()

In [105]:
# I will take instead just the file of locations, lat and longitudes. Using the NDVI file
NDVI_loc_file_df = pd.read_csv('NDVI_Locations_28July.csv', encoding = 'unicode_escape')

# PET Actual

In [110]:
#Extract Loc
row = 1
data_col_name = 'PET_Actual' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('pet_Actual_month',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Wellington
Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# QTOT

In [106]:
#Extract Loc
row = 1
data_col_name = 'Qtot' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('qtot_Actual_month',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Wellington
Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# Soil Moisture

In [107]:
#Extract Loc
row = 1
data_col_name = 'Soil_M_root_zone' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('sm_pct_Actual_month_root_zone',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Wellington
Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# e_actual_tot_Actual_month

In [108]:
#Extract Loc
row = 1
data_col_name = 'E_Actual' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('e_actual_tot_Actual_month',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Wellington
Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# Deep drainage

In [109]:
#Extract Loc
row = 1
data_col_name = 'Deep_Drainage' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('deep_drainage_Actual_month',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan
Saving location: Wellington

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# Rainfall

In [115]:
#Extract Loc
row = 1
data_col_name = 'Rainfall' #name of column
for row in NDVI_loc_file_df.itertuples():
    location = row.Category #dloc[row]
    d_lat = float(row.Latitude)
    d_lon = float(row.Longitude)
    Extract_AWRA_data_code_6_28July2022.extract_var_from_netcdf('rain_day_Actual_month',location,d_lat,d_lon,data_col_name)

#Combining CSV files:
# Climate_var_name is the name of the column of data
Clean_Combine_Location_data_4.clean_comb(data_col_name,list_of_locations)

Saving location: Cobar
Saving location: Walgett
Saving location: Coonamble
Saving location: Warren
Saving location: Nyngan
Saving location: Gilgandra
Saving location: Narrabri
Saving location: Tamworth
Saving location: Coonabarabran
Saving location: Mittagong
Saving location: Bowral
Saving location: Bundanoon
Saving location: Robertson
Saving location: Moss Vale
Saving location: Pilliga
Saving location: Cobargo
Saving location: Bega
Saving location: Wentworth
Saving location: Finley
Saving location: Deniliquin
Saving location: Pooncarie
Saving location: Menindee
Saving location: Broken Hill
Saving location: Bredbo
Saving location: Hay
Saving location: Coleambally
Saving location: Griffith
Saving location: Wagga Wagga
Saving location: Forbes
Saving location: Oxley
Saving location: Condobolin
Saving location: Cowra
Saving location: Blayney
Saving location: Carcoar
Saving location: Canowindra
Saving location: Narromine
Saving location: Orange
Saving location: Bathurst
Saving location: Dubbo
Saving location: Mudgee
Saving location: Gulgong
Saving location: Gunnedah
Saving location: Moree
Saving location: Uralla
Saving location: Goondiwindi
Saving location: Tenterfield
Saving location: Glen Innes
Saving location: Mungindi
Saving location: Ashford
Saving location: Bonshaw
Saving location: Bourke
Saving location: Wilcannia
Saving location: Collarenebri
Saving location: Brewarrina
Saving location: Angledool
Saving location: Gongolgon
Saving location: Tibooburra
Saving location: Packsaddle
Saving location: Byrock
Saving location: Eden
Saving location: Bemboka
Saving location: Brogo
Saving location: Bermagui
Saving location: Casino
Saving location: Bonalbo
Saving location: Scone
Saving location: Murrurundi
Saving location: Singleton
Saving location: Smithtown
Saving location: Tocal
Saving location: Grafton
Saving location: Nowra
Saving location: Ulladulla
Saving location: Goulburn
Saving location: Port Macquarie
Saving location: Boggabilla
Saving location: Taree
Saving location: Raymond Terrace
Saving location: Bogan

c:\Users\sy6sh\Anaconda3\envs\Honours_2022\lib\site-packages\pandas\core\internals\blocks.py:953: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = value

Saving location: Wellington
Saving location: Cobar
Saving location: Dungog
Saving location: Inglewood

# Now to combine them into the drought db

In [111]:
deep_drain_df = pd.read_csv('All_Location_Deep_Drainage_test2022_07_29_21_07.csv', encoding = 'unicode_escape')
E_tot_df = pd.read_csv('All_Location_E_Actual_test2022_07_29_21_07.csv', encoding = 'unicode_escape')
PET_df = pd.read_csv('All_Location_PET_Actual_test2022_07_29_21_12.csv', encoding = 'unicode_escape')
Qtot_df = pd.read_csv('All_Location_Qtot_test2022_07_29_21_06.csv', encoding = 'unicode_escape')
sm_df = pd.read_csv('All_Location_Soil_M_root_zone_test2022_07_29_21_06.csv', encoding = 'unicode_escape')

In [116]:
rain_df = pd.read_csv('All_Location_Rainfall_test2022_07_29_21_32.csv', encoding = 'unicode_escape')

In [112]:
# Combining database and data tables according to Year,Month and Location. 
clim_var_4 = []
clim_var_5 = []
clim_var_6 = []
clim_var_7 = []
clim_var_8 = []
row = 1

dd_name = 'Deep_Drainage'
pet_name = 'PET_Actual'
e_name = 'E_Actual'
sm_name = 'Soil_M_root_zone'
qtot_name = 'Qtot'
#For NDVI
for row in drought_db.itertuples():
    time = row.Year_Month
    loca = row.Location
    # print(row)
    clim_var_4.append(float((deep_drain_df.loc[(deep_drain_df['Year_Month']== time) & (deep_drain_df['Location']== loca)][dd_name].values)))
    clim_var_5.append(float((PET_df.loc[(PET_df['Year_Month']== time) & (PET_df['Location']== loca)][pet_name].values)))
    clim_var_6.append(float((E_tot_df.loc[(E_tot_df['Year_Month']== time) & (E_tot_df['Location']== loca)][e_name].values)))
    clim_var_7.append(float((sm_df.loc[(sm_df['Year_Month']== time) & (sm_df['Location']== loca)][sm_name].values)))
    clim_var_8.append(float((Qtot_df.loc[(Qtot_df['Year_Month']== time) & (Qtot_df['Location']== loca)][qtot_name].values)))

In [117]:
# Missed the rain one: 
# Combining database and data tables according to Year,Month and Location. 
clim_var_9 = []
row = 1

r_name = 'Rainfall'
#For NDVI
for row in drought_db.itertuples():
    time = row.Year_Month
    loca = row.Location
    # print(row)
    clim_var_9.append(float((rain_df.loc[(rain_df['Year_Month']== time) & (rain_df['Location']== loca)][r_name].values)))

In [113]:
drought_db[dd_name] = clim_var_4
drought_db[pet_name] = clim_var_5
drought_db[e_name] = clim_var_6
drought_db[sm_name] = clim_var_7
drought_db[qtot_name] = clim_var_8

In [114]:
drought_db.to_csv('Database_All_AWRA_NDVI_data' + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

In [118]:
drought_db[r_name] = clim_var_9

In [119]:
drought_db.to_csv('Database_All_AWRA_NDVI_Rain_data' + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

# Now ENSO, IOD and SAMI

Look at the Mof_data_to_database_21_22Jun2022 file for analysis of the Mof data

In [120]:
# Loading Mof data
enso_file_name = 'ENSO_Data_`948_to_Mar_2022'
iod_file_name = 'IOD_DMI_1870_to_2022_Jan'
ipo_tpi_file_name = 'IPO_TPI (from NOAA ERSST V5) filtered_ Standard PSL Format'
sami_file_name = 'SAMI_1957_to_2022_Mar'

ENSO = pd.read_csv('C:/Users/sy6sh/Documents/A.UNSW_COURSE_FOLDERS/Honours 2022/Coding/MoF and NDVI data/'+ enso_file_name +'.csv', encoding = 'unicode_escape')
IOD = pd.read_csv('C:/Users/sy6sh/Documents/A.UNSW_COURSE_FOLDERS/Honours 2022/Coding/MoF and NDVI data/' + iod_file_name + '.csv', encoding = 'unicode_escape')
IPO_TPI = pd.read_csv('C:/Users/sy6sh/Documents/A.UNSW_COURSE_FOLDERS/Honours 2022/Coding/MoF and NDVI data/' + ipo_tpi_file_name + '.csv', encoding = 'unicode_escape')
SAMI = pd.read_csv('C:/Users/sy6sh/Documents/A.UNSW_COURSE_FOLDERS/Honours 2022/Coding/MoF and NDVI data/' + sami_file_name + '.csv', encoding = 'unicode_escape')

In [121]:
ENSO.columns = ['Year','January','February','March','April','May','June','July', 'August','September','October','November','December']
IOD.columns = ['Year','January','February','March','April','May','June','July', 'August','September','October','November','December']
IPO_TPI.columns = ['Year','January','February','March','April','May','June','July', 'August','September','October','November','December']
IPO_TPI.replace(-99.0,'NaN',inplace = True)
SAMI.columns = ['Year','January','February','March','April','May','June','July', 'August','September','October','November','December']

Because there were a few months in the database that were half written I have to get the df again.

In [125]:
database_name_2 = 'Database_All_AWRA_NDVI_Rain_data2022_07_29_21_35'
# Read in database
drought_db_2 = pd.read_csv(database_name_2 + '.csv', encoding = 'unicode_escape')

In [126]:
 # Combining database and data tables according to Year,Month. 
clim_var_10 = []
clim_var_11 = []
clim_var_12 = []
clim_var_13 = []

row = 1

for row in drought_db_2.itertuples():
    year = row.Year
    mth = row.Month
    clim_var_10.append(float(ENSO.loc[(ENSO['Year']== year), mth]))
    clim_var_11.append(float(IOD.loc[(IOD['Year']== year), mth]))
    clim_var_12.append(float(IPO_TPI.loc[(IPO_TPI['Year']== year), mth]))
    clim_var_13.append(float(SAMI.loc[(SAMI['Year']== year), mth]))

drought_db['ENSO'] = clim_var_10
drought_db['IOD'] = clim_var_11
drought_db['IPO_TPI'] = clim_var_12
drought_db['SAMI'] = clim_var_13

In [ ]:
drought_db.to_csv('Database_All_AWRA_NDVI_Rain_MOF_data' + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')

# Including Precipitation_acc_3 month

In [ ]:
import pandas as pd
from datetime import datetime
import os
import numpy as np

# Combine_Database_Loc_data_2.combine_data('rain_acc3M', 'P_acc_3M' ,'Database_All_AWRA_NDVI_Rain_MOF_data2022_07_29_22_02')
# Error:TypeError: only size-1 arrays can be converted to Python scalars

prec_3m_df = pd.read_csv('rain_acc3M.csv', encoding = 'unicode_escape')
prec_3m_df.drop(['Year','Month','Latitude'], axis=1, inplace = True)

# This is the database before checks and removing the -3000 NDVI and EVI. 
drought_database = pd.read_csv('Database_All_AWRA_NDVI_Rain_MOF_data2022_07_29_22_02.csv', encoding = 'unicode_escape')

# Set up code to merge:
clim_var = []
row = 1
clim_name = 'P_acc_3M' 

#For NDVI
for row in drought_database.itertuples():
    time_a = row.Year_Month
    loca = row.Location
    lona = row.Longitude
    # print(row)
    func = ((prec_3m_df.loc[(prec_3m_df['Year_Month']== time_a) & (prec_3m_df['Location']== loca) & (prec_3m_df['Longitude']== lona)][clim_name]))
    clim_var.append(float(func.values))
    # When the 'float' is removed then it works but the input are [90.29] and things like this. 
    # Error with float is TypeError: only size-1 arrays can be converted to Python scalars
    # https://stackoverflow.com/questions/36680402/typeerror-only-length-1-arrays-can-be-converted-to-python-scalars-while-plot-sh
    # np.vectorize does not work. 
    # print(clim_var) # I printed it to discover that the code stopped working when it reached wagga wagga as it had two values. 
drought_database[clim_name] = clim_var

#Saving the file
drought_database.to_csv('Database_All_AWRA_NDVI_MOf_and_3MPrecip_data' + str(datetime.now().strftime('%Y_%m_%d_%H_%M')) +'.csv')